# Eksik Veri Değerlerinin İncelenmesi

In [1]:
import seaborn as sns
planets = sns.load_dataset("planets")
df = planets.copy()
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

# Önce yapmamız gereken şu Eksik bir değer var mı ?

In [2]:
df.isnull().values.any() # Çıktıdan anlayacağımız üzere eksik bir değerimiz var.

True

In [3]:
df.isnull().sum() # Bu kod bize tüm değişkenlerde kaç tane eksik değer olduğunu söyler.

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [4]:
# Şimdir burda geldik dananın kuyruğunun kopruğu yere. Eğer number değişkeninde bir hata görürsen yani bir atlanmış değişken anla ki bu veri seti hazırlayan tarafından
# atlanmış bir şey ve bunu kendimimiz tamamlamayıp veri setini gönderip düzeltmelerini beklemeliyiz. Fakat tut ki biz düzeltmeye kalktıp ne yapmamız gerek?

In [5]:
df["orbital_period"].fillna(0)

0       269.300000
1       874.774000
2       763.000000
3       326.030000
4       516.220000
           ...
1030      3.941507
1031      2.615864
1032      3.191524
1033      4.125083
1034      4.187757
Name: orbital_period, Length: 1035, dtype: float64

In [6]:
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [8]:
df["orbital_period"].fillna(0, inplace = True) # inplace koyarak yaptığımız işlemi kesinleştirmiş oluruz

In [9]:
df.isnull().sum()

method              0
number              0
orbital_period      0
mass              522
distance          227
year                0
dtype: int64

In [10]:
df["mass"].fillna(df.mass.mean(), inplace = True) # Bu işlemi yaparak mass'da boş olan yerlere tüm değerlerin ortalamasını koyuyoruz

In [11]:
df.isnull().sum()

method              0
number              0
orbital_period      0
mass                0
distance          227
year                0
dtype: int64

In [12]:
df.fillna(df.mean(), inplace = True) # Böyle yaparakta veri setinde her boş olan yere o kategorinin ortalamasını koyar

In [13]:
df.isnull().sum()

method            0
number            0
orbital_period    0
mass              0
distance          0
year              0
dtype: int64

In [14]:
df = planets.copy() # Veri'nin kopyasını almış olduğumuz için de bir prolem olmadı her zaman verinin kopyasını al
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009